<div class ="container">

    <% if (_id) { %>
        <h1>Let's Poll!</h1>
        <h2>Dashboard</h2>
        <h3>What would you like to do today?</h3>

        <% } else { %>
        <h1>Welcome to Let's Poll!</h1>
        <h3>A sample application built with Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB</h3>
         <% } %>
                
             <div class = "text-center">
                <% if (_id) { %>
      
                  
                      <a class ="mod-button dashboard-button btn btn-lg btn-success" href="polls/add">New Poll</a>
                      <a class="mod-button dashboard-button btn btn-lg btn-info"  href="mypolls">My Polls</a>
                      <a class="mod-button dashboard-button btn btn-lg btn-success" href="polls">Vote</a>
                

                <% } else { %>
                
                   <a class="mod-button dashboard-button btn btn-lg btn-info " href="polls">Vote in a Poll</a>
                   <a class="mod-button dashboard-button btn btn-lg btn-success" href="signup">Sign up</a>
            
                <% }%>
            </div>
 </div>
