<div class="text-center" style="width:100%">
    <% if (_id) { %>
        <div class="jumbotron">
            <h1>Let's Poll!</h1>
            <h2>Dashboard</h2>
            <h3>What would you like to do today?</h3>
            <a class="mod-button dashboard-button btn btn-lg btn-success" href="polls/add">New Poll</a>
            <a class="mod-button dashboard-button btn btn-lg btn-info" href="mypolls">My Polls</a>
            <a class="mod-button dashboard-button btn btn-lg btn-success" href="polls">Vote</a>
        </div>
        <% } else { %>
            <div class="jumbotron">
                <h1>Welcome to Poll It!</h1>
                <h3>A sample application built with Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB</h3>
                <a class="mod-button dashboard-button btn btn-lg btn-info " href="polls">Vote in a Poll</a>
                <a class="mod-button dashboard-button btn btn-lg btn-success" href="signup">Sign up</a>
            </div>
            <div class = "container">
            <div class="row summary" style="margin-top:30px;">
                <div class="col-md-4"><i class="fa fa-bolt desc"></i><b>Live Results</b>
                    <p>
                        Live graphs show your poll results immediately in an easy to understand format.
                    </p>
                </div>
                <div class="col-md-4"><i class="fa fa-globe desc"></i><b>Flexible</b>
                    <p>
                        Responsive design ensures that your polls work on every device.
                    </p>
                </div>
                <div class="col-md-4"><i class="fa my-fa-twiiitter desc"></i><b>Social Integration</b>
                    <p>
                        Share your polls via Twitter to increase voter participation and encourage voters to share your poll with others.
                    </p>
                </div>
            </div>
            </div>
            <% } %>
</div>
