<header>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Poll It!</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="home"><a href="home">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if (_id) { %>
            <li style="font-size:18px;"><a style="color:white !important;">Hello,<% var userName = name.charAt(0).toUpperCase() + name.slice(1); %> <%=userName%> !</a></li>
            <li><a href="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a href="logout"><span class="fa fa-lg fa-times-circle-o"></span> Logout</a></li>

            <% } else { %>
              <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <% }%>
        </ul>
      </div>
    </div>
  </nav>
</header>