<!--<form id="addPoll" action ="#add">-->
<h1>Add a new poll here:</h1>
<div id='form-error'></div>
<form id="addPoll">
 <div>
  <label for="name">name of the poll: </label>
  <input id="name" placeholder="Name of the poll" type="text" value="<%= name %>" autofocus />
  
  <label for="option1">Option1: </label>
  <input class = "options" id="option1" type="text" />
  <label for="option2">Option2: </label>
  <input class = "options" id="option2" type="text" />
  <button class="add">Add!!</button>
 </div>
</form>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="poll-saved" style="display: none">
          <h1>Congratulations!</h1>
          <h2>Your poll has been posted to</h2>
          <div class ="link"></div>
         </div>
        
         <div class="poll-not-saved" style="display: none">
          <h3>An error occurred while trying to delete this item</h3>
         </div>
    </div>
</div>