<!--<form id="addPoll" action ="#add">-->
<div id= 'add-new-poll-form-container'>
<h1>Add a new poll here:</h1>
<div id='form-error'></div>
<form id="addPoll" class="col-xs-6 col-lg-6 col-md-8 col-sm-6 col-centered" style="text-align:center;">
    <div class="form-group">
        <label for="name">Name of the poll</label>
        <input id="name" class="form-control"  type="text" value="<%= name %>" autofocus />
    </div>
    
    <div class="form-group">
        <label class="control-label">Options</label>
        <input id="option1" class="form-control options"  type="text" />
    </div>
    
    <div class="form-group">
        <input id="option2"  class="form-control options"  type="text" />
    </div>
    
    
    <div class="form-group button-div">
        <button disabled type="submit" class="add btn btn-success btn-lg">Submit</button>
    </div>
   
</form>
</div>

<div class="status-bar col-xs-6 col-lg-6 col-md-8 col-sm-6 col-centered">
        <div class="poll-saved" style="display: none">
          <h1>Congratulations!</h1>
          <h2>Your poll has been posted to</h2>
          <div class ="link"><a id = "poll-link" href="#"></a></div>
        </div>
        
         <div class="poll-not-saved" style="display: none">
             <h3>An error occurred while trying to delete this item</h3>
         </div>
</div>
