<div class="container">
  <div class="list-group">
        <% _.each(polls, function(poll) { %>
    <a href="<%='polls/'+poll._id%>" class="list-group-item clearfix">
         <span class="pull-left poll-name">
      <span class="glyphicon glyphicon-file"></span>
      <%=poll.name%>
      </span>
      <span class="pull-right">
        <button class="btn btn-lg btn-danger">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </a>
     <%});%>
  </div>
</div>