<div class='cont'>
    <div class ="poll-details-container">
  <div class="details-button">

<a href="polls/<%= poll._id %>">
    <h4 class ="text-center"><%= poll.name %></h4>
    <h5 class ="text-center"><%= user.email %></h5>
</a>

<div style="display:flex;justify-content:center;align-items:center;">
    <div>
        <table class="table fit-table" id="poll-options-table">
            <tbody>
                    <% poll.options.forEach(function(option){ %>
                                <tr>
                                    <td class ="voting-options">
                                        <input type="radio" class ="old-items" name="items" value="<%=option._id%>">
                                    </td>
                                    <td style="font-size:16px;">
                                        <%=option.text %>
                                    </td>
                                    
                                </tr>
                                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<%if(user._id){ %>
    <div class="text-center">
       <div><button type="button" id ="add-option" class="poll-button btn btn-lg btn-primary narrow-button">Add Option</button></div> 
    </div>
    <%} %>
    

</div>

<div class ="details-button text-center">
            <div><button type="button" id = "vote" class="btn poll-button btn-lg btn-success narrow-button">Vote</button></div> 
       </div>
</div>
</div>
