<h2>Change Password</h2>
<div class="alert alert-warning" style="display: none;"></div>
<form id="settings-form">

    <div class="form-group">
        <label for="oldPassword" class="col-lg-2 control-label">Current Password</label>
        <div class="col-lg-10">
            <input id="oldPassword" type="password" class="form-control" placeholder="" />
            <div class="help"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword" class="col-lg-2 control-label">New Password</label>
        <div class="col-lg-10">
            <input id="newPassword" type="password" placeholder="" class="form-control" />
            <div class="help"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="save btn btn-primary">Save Changes</button>
        </div>
    </div>

</form>