   <form id="signup-form">             
                     <div>
            <label for="name">Name: </label><input id="name" placeholder="Name" type="text" value ="<%= name %>" autofocus />
     <label for="email">Email </label><input id="email" type="text"placeholder="Email" value = "<%= email %>"/>
            <label for="password">Password</label><input id="password" type="text" placeholder="Password"value = "<%= password %>" />
             <button class = "signup">Sign up</button>
            </div>
        </form>