<div class = 'unauthorized-poll-container'>
    
<a href="polls/<%= _id %>">
    <h5><%= name %></h5>
</a>
    <% options.forEach(function(option){ %>
        <% console.log( "TEEXT" + option.text); %>
            <div class="radio">
               <label><input type="radio" name="optradio"><%=option.text %></label>
            </div>
    <% }); %>

   <div><button type="button" class="poll-button btn btn-lg add-option btn-warning">Add Option</button></div>
   <div><button type="button" class="vote btn poll-button btn-lg btn-success">Vote</button></div>

</div>

