<h1>All Polls</h1>



<div class="container">
   
  <div class="list-group">
       <% var colors = ["#00c0f1", "#31F079", "#ec2426", "#ffc116", "#ADD5F7", "#7FB2F0","#4E7AC7","#A168D9","#F87789","#68D9AA","#2BD659"]; %>
        <% _.each(polls, function(poll) { %>
    <a href="<%='polls/'+poll._id%>" class="list-group-item clearfix" style="background-color:<%=colors[Math.floor(Math.random() * 11)] %>;">
         <span class="poll-name">
      <%=poll.name%>
      </span>
    </a>
     <%});%>
  </div>
</div>