<div class="jumbotron">
    <div class="page-header">
        <h1>Vote!</h1>
    </div>
        <h3>A sample application built with Express, Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB</h3>
        <br/>
    
        <!--<div class = "menu-buttons">-->
        <!--<a class = "btn btn-large" href ="polls">Vote in a Poll</a>-->
        <!--<a class = "btn btn-large" href = "polls/add">Create a Poll</a>-->
        <!--</div>-->
    
        <div class="menu-buttons">
            <a class="btn btn-large" id="vote" href="polls">Vote in a Poll</a>
            <a class="btn btn-large" id="add-poll" href="polls/add">Create a Poll</a>
        </div>
  

</div>